/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Racing+Sans+One&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Racing Sans One", sans-serif;
    --secondary-font: "Montserrat", cursive;
    --primary-color: #30528f; /* dark blue */
    --secondary-color: #a9aace; /* light blue */
    --highlight-color: #78b131; /* bright green */
}

/* Global Styles */

body {
    font-family: var(--secondary-font);
}

h1,h2,h3 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    text-transform: uppercase;
}

/* All subheadings (e.g. names on cards) are bold and use the secondary colour */
.sub-heading {
    color: var(--secondary-color);
    font-weight: 600;
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Navbar */

#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width:30px;
}

/* Header */

#header .lead {
    font-family: var(--secondary-font);
}

/* Reasons section */

#reasons ul {
    list-style-type: none;
}

#reasons em {
    color: var(--secondary-color)
}

/* Lessons & Clinics sections */
#lessons .card-footer, #clinics .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
}

/* Grid visualisation for testing */

/* .container, .row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */


/* Media Queries */

/* Medium screens (tablet, 768px and up) and above */
@media screen and (min-width: 768px) {
    #lessons .card-body, #clinics .card-body {
        min-height: 230px;
    }
}

/* Large screens (laptop, 992px and up) */
@media screen and (min-width: 992px) {

}

/* XL screens (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    #lessons .card-body, #clinics .card-body {
        min-height: 305px;
    }
}

/* Large screens (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {

}