/* Google Font import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Racing+Sans+One&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Racing Sans One", sans-serif;
    --secondary-font: "Montserrat", cursive;
    --primary-color: #30528f; /* dark blue */
    --secondary-color: #a9aace; /* light blue */
    --highlight-color: #78b131; /* bright green */
}

/* Global Styles */

body {
    font-family: var(--secondary-font);
}

h1,h2,h3 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    text-transform: uppercase;
}

/* All subheadings (e.g. names on cards) are bold and use the secondary colour */
.sub-heading {
    color: var(--secondary-color);
    font-weight: 600;
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Navbar */

#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width:30px;
}

/* Header */

#header .lead {
    font-family: var(--secondary-font);
}

#header .sub-lead {
    font-size: 125%;
}

/* Reasons section */

#reasons ul {
    list-style-type: none;
}

#reasons em {
    color: var(--secondary-color)
}

/* Lessons & Clinics sections */
#lessons .card-footer, #clinics .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
}

/* Makes card background primary color */
#lessons .card-body, 
#lessons .card-footer, 
#clinics .card-body, 
#clinics .card-footer 
{
    background-color: #30528f;
}

/* Makes card colour white to contrast with primary colour background */
#lessons .card-text,
#clinics .card-text
{
    color: #fff;
}

/* Overwrites bootstrap default white background for seperate elements in */
#lessons .list-group-item,
#clinics .list-group-item
{
    background-color: #30528f;
    color: #fff;
    border: 1px solid var(--secondary-color)
}

/* Grid visualisation for testing */

/* .container, .row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */


/* Media Queries */

/* Medium screens (tablet, 768px and up) and above */
@media screen and (min-width: 768px) {
    /* Aligns bottom of cards when on tablet screens */
    #lessons .card-body, 
    #clinics .card-body {
        min-height: 210px;
    }
}

/* Large screens (laptop, 992px and up) */
@media screen and (min-width: 992px) {
    #clinics .card-body {
        min-height: 235px;
    }
}

/* XL screens (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    /* Aligns bottom of cards when on large screens */
    #lessons .card-body {
        min-height: 305px;
    }

    #clinics .card-body {
        min-height: 376px;
    }

    /* Aligns footer of cards when on large screens due to word-wrapping */
    #lessons .card-footer, 
    #clinics .card-footer {
        min-height: 68px;
    }
}

/* XXL screens (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {


    /* #header img {
        /* overflow: hidden; */
        /* width: 800px; 
        height: 337px; 
        object-fit: cover;
    } */

    #lessons .card-body {
        min-height: 255px;
    }

    #clinics .card-body {
        min-height: 328px;
    }
}